# Reemplaza los siguientes valores en tu archivo .env (que NO se sube a Github!)

# Clave de Inteligencia Artificial para el Bot de Whatsapp
GEMINI_API_KEY="AIzaSyA..."

# Url de conexión a Supabase o DB (postgresql://...)
DATABASE_URL="postgresql://user:pass@supabase-host/postgres"

# Puerto (Opcional, en servidores como Koyeb se autodefine)
PORT=3000
